
#header {
  text-align: center;
  background-color: grey;
  border-radius: 5px;
  height: 300px;
  padding-top: 75px;
  margin-bottom:25px;
  background-image: url("../images/nightmare-king-burger.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#devoured-card-header  {
  background-color: #76180c;
}


.devoured-burger-name {
  color: #58961f;
}


body {
  font-family: 'Mansalva', cursive;
  background-color: rgb(55, 65, 66);
}

.lead {
  font-size: 30px;
  padding-top: 25px;
  color: aliceblue;
}
#devour {
  background-image: url(../images/devour.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  
.devoured-card, .footer {  
  border-style: solid;
  border-color: #76180c;
  background-image: url(../images/chucky.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
 
}
footer {
  background-color: grey;
  margin-bottom: 0px;
  border-radius: 5px;
  font-family: 'Long Cang', cursive;
  font-size: 25px;
}

.card {
  font-size: 25px;
}